/********************************************************************* HEADER ****************************************************************/

.pageHead {
    display: grid;
    grid-template-columns: 57% 33% 10%;
}

.pageHead__logo {
    grid-column-start: 1;
    width: 14%;
    padding-left: 5%;
}

.pageHead__navItem {
    grid-column-start: 2;
    padding: 0px 35px;
    font-weight: normal;
    Color: black;
    margin-left: 0px;
}

.pageHead__navItem:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 6.5%;
}

.pageHead__itemRegister {
    grid-column-start: 3;
    color: #0065FC;
    padding: 0px 0px;
    /*padding-right: 110px;*/
    padding-left: 0px;
    padding-top: 14%;
}

.pageHead__nav {
    margin-right: 0px;
    padding-right: 0px;
    padding-top: 5%;
}