#h2navigation{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-bottom:15px;
	padding-right:0px;
	padding-top:0px;
	padding-left:50px;
	
}
h5{
	margin-top:15px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-bottom:17px;
	padding-right:0px;
	padding-top:0px;
	padding-left: 50px;
	
	
}
.section3{
    display: grid;
	grid-template-rows: 20% 20% 20% 20% 20%; 	
}
.section3>.box1{
	grid-row-start: 1;	
}

.section3>.box2{
	grid-row-start: 2;
}
.section3>.box3{
	grid-row-start: 3;
	display: grid;
	grid-template-columns: 6% 15% 33% ; 
}
.section3>.box3>.box3-1{
	grid-column-start: 1;	
}
.section3>.box3>box3-1{ 
	grid-column-start: 2;
}
.section3>.box3box3-1{
	grid-column-start: 3;
}
.section3>.box4{
	grid-row-start: 4;
	display: grid;
	grid-template-columns: 9% 12% 10% 11% 20% ; 
	padding-top:5px;
}
.section3>.box4>.box4-1{
	grid-column-start: 1;
	
}
.section3>.box4>.box4-2{
	padding-top:17px;
	grid-column-start: 2;
}
.section3>.box4>.box4-3{
	padding-top:17px;
	grid-column-start: 3;
}.section3>.box4>.box4-4{
	padding-top:17px;
	grid-column-start: 4;
	
}
.section3>.box4>.box4-5{
	padding-top:17px;					
	grid-column-start: 5;
}
<<<<<<< HEAD

.section3>.box5{
	grid-row-start: 5;
	
	display: grid;
	grid-template-columns: 5% 94% ; 
	padding-top: 8px;
}

=======

.section3>.box5{
	grid-row-start: 5;
	
	display: grid;
	grid-template-columns: 5% 94% ; 
	padding-top: 8px;
}

>>>>>>> 1a3de88 (Ecran mis sur toute la largeur du navigateur)
.section3>.box5>.box5-1{
	grid-column-start: 1;
	padding-top:17px;
	padding-left:50px;
	
}
.section3>.box5>.box5-2{
	grid-column-start: 2;
}

.Informationpicture {
	width: 30px;
    padding-left: 50px;
    padding-top: 12px;
}
.section3>.box4>.box4-1>p {
    margin-top: 17px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 0px;
    padding-top: 0px;
}
.box5-2>p{
	 margin-top: 17px;
	 margin-bottom: 0px;
	 padding-left: 8px;
}
.fit-picture {
    grid-column-start: 1;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    height: 35px;
    padding-left: 50px;
}


.filter {
    font-weight: bold;
    margin-top: 0px;
    padding-left: 50px;
}

.circleAroundIcon{
	background-color:#DEEBFF;
	border-radius: 50%;
	border-color:blue;
	height: 24px;
    width: 24px;
	align-items: center;
    justify-content: center;
	padding:12px;
	color:#0065FC;
	
}
.titleCircleAroundIcon{
	margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 11px;
    border: 1px solid #F2F2F2;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-left: none;
    color: black;
    font-weight: bold;
    font-size: 85%;
}
.circleInfoBlue{
	border: 3px solid #F2F2F2;
	border-radius: 50%;
	align-items: center;
    justify-content: center;
	padding:3px;
	padding-top: 1px;
	color:#0065FC;
}
.iconsearch{          
	background-color: #F2F2F2;
    color: Black;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 50px;
    padding-bottom: 6px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
  #buttonsearch{
    grid-column-start: 3;
	background-color:#0065FC;
	color:white;
	width:20%;
    height:35px;
    border-top-right-radius: 12%;
    border-bottom-right-radius:12%;
    border:none;
  }
  input{
    width:96%;
    height:29px;
	border-color:#F2F2F2;
}