/****************************************************************************************************/

/********************************************************************* HEADER ****************************************************************/

.pageHead {
	margin-top: 50px;
	padding-left: 4%;
	height: 85px;
	display: grid;
	grid-template-columns: 70% 30%;
	display: grid;
	grid-template-rows: 40% 60%;
}

.pageHead__logo {
	grid-column-start: 1;
	grid-row-start: 1;
	width: 94px;
}

.pageHead__navItem {
	grid-column-start: 1;
	grid-row-start: 2;
	padding: 0px 35px;
	font-weight: normal;
	padding-bottom: 10px;
	Color: black;
	margin-left: 0px;
	border-bottom: 2px solid #DEEBFF;
}

.pageHead__navItem:hover {
	color: #0065FC;
	border-top: none;
	padding-top: 39px;
	border-bottom: 2px solid #0065FC;
}

.pageHead__itemRegister {
	grid-column-start: 2;
	grid-row-start: 1;
	color: #0065FC;
	padding-top: 15px;
	margin-left: -80px;
}

.pageHead__nav {
	margin-right: 0px;
	padding-right: 0px;
	margin-top: 15px;
}

/********************************************* Navigation **************************************************/
/****************************************************navigation******************************************************/

#h2navigation {
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 15px;
	padding-right: 0px;
	padding-top: 0px;
	padding-left: 20px;
}

h5 {
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 17px;
	padding-right: 0px;
	padding-top: 0px;
	padding-left: 20px;
}

.containerNavigation {
	display: grid;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

.containerNavigation>.boxA {
	grid-row-start: 1;
	
}

.containerNavigation>.boxB {
	grid-row-start: 2;
}

.containerNavigation>.boxC {
	grid-row-start: 3;
	display: grid;
	grid-template-columns: 10% 25% 95%;
}

.containerNavigation>.boxC>.boxC-1 {
	grid-column-start: 1;
}

.containerNavigation>.boxC>.boxC-2 {
	grid-column-start: 2;
}

.containerNavigation>.boxC>.boxC-3 {
	grid-column-start: 3;
}

.containerNavigation>.boxD {
	grid-row-start: 4;
	display: grid;
	grid-template-rows: 9% 30% 30% 30%;
	display:grid;
	grid-template-columns: 50% 50%;
	
}

.containerNavigation>.boxD>.boxD-1 {
	grid-row-start: 1;
	grid-column-start: 1;
	margin-top: -45px;
    margin-left:-30px;
    margin-bottom: 0px;
   
	
	
}


.containerNavigation>.boxD>.boxD-2 {
	
	grid-column-start: 1;
	grid-row-start: 2;
	
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;

	
	
}

.containerNavigation>.boxD>.boxD-3 {
	
	grid-column-start: 2;
	grid-row-start: 2;
	margin-top: 0px;
    padding-top: 0px;
    margin-left: -80px;
	
}

.containerNavigation>.boxD>.boxD-4 {
	grid-column-start: 1;
	grid-row-start: 3;
	margin-top: 27px;
    padding-top: 0px;
    padding-left: 10px;
	
	
}

.containerNavigation>.boxD>.boxD-5 {
	grid-column-start: 1;
	grid-row-start: 4;
	margin-top: 53px;
    padding-top: 0px;
    padding-left: 10px;
	
}

.containerNavigation>.boxE {
	grid-row-start: 5;
	display: grid;
	grid-template-columns: 5% 94%;
	margin-top: 53px;
    padding-top: 0px;
	margin-bottom:10px;
}

.containerNavigation>.boxE>.boxE-1 {
	grid-column-start: 1;
	padding-top: 17px;
	padding-left: 20px;
}

.containerNavigation>.boxE>.boxE-2 {
	grid-column-start: 2;
	padding-left: 10px;
}

.Informationpicture {
	width: 30px;
	padding-left: 50px;
	padding-top: 12px;
}

.containerNavigation>.boxD>.boxD-1>p {
	margin-top: 17px;
	margin-bottom: 0px;
	text-align: left;
	padding-left: 0px;
	padding-top: 0px;
}

.boxE-2>p {
	margin-top: 17px;
	margin-bottom: 0px;
	padding-left: 8px;
}

.fit-picture {
	grid-column-start: 1;
	border-top-left-radius: 30%;
	border-bottom-left-radius: 30%;
	height: 35px;
	padding-left: 50px;
}

.filter {
	font-weight: bold;
	margin-top: 0px;
	padding-left: 50px;
}

.circleAroundIcon {
	background-color: #DEEBFF;
	border-radius: 50%;
	border-color: blue;
	height: 24px;
	width: 24px;
	align-items: center;
	justify-content: center;
	padding: 12px;
	color: #0065FC;
}

.titleCircleAroundIcon {
	margin-left: -20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 13px;
	padding-bottom: 11px;
	border: 1px solid #F2F2F2;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-left: none;
	color: black;
	font-weight: bold;
	font-size: 85%;
}

.circleInfoBlue {
	border: 3px solid #F2F2F2;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	padding: 3px;
	padding-top: 1px;
	color: #0065FC;
}

.iconsearch {
	background-color: #F2F2F2;
	color: Black;
	padding-top: 10px;
	padding-left: 10px;
	margin-left: 20px;
	padding-bottom: 6px;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}

#buttonsearch {
	grid-column-start: 3;
	background-color: #0065FC;
	color: white;
	width: 20%;
	height: 35px;
	border-top-right-radius: 12%;
	border-bottom-right-radius: 12%;
	border: none;
}

input {
	width: 96%;
	height: 29px;
	border-color: #F2F2F2;
}

.pictureButton1 {
	border: 0px;
	background-color: white;
}

